<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='styleas.css')}}">
    
    
</head>
<body>
    {{dict}}
    <form method="POST">
        Uno: <input type="text" name= "uno">
        Dos: <input type="text" name= "dos">
        <input type="submit" value="Submit">
    </form>
</body>
</html>